@import "../utils/mixins";

/*card page index*/
.restaurants {
    background-color: #f6f6f6;
    padding: 1rem;

    h2 {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 1rem;
        padding-top: 2rem;
    }
}

.new {
    &::before {
        content: "Nouveau";
        position: absolute;
        width: 80px;
        height: 29px;
        top: 5px;
        right: 15px;
        font-family: Roboto;
        color: rgba(0, 135, 102, 1);
        font-size: 14px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        background: $tertiary-color;
    }
}

.menu-cards {
    .cards-content {
        display: flex;
        flex-direction: column;
        @include cards-shadow;
        border-radius: 15px;
        height: 251px;
        margin-bottom: 1rem;

        & img {
            width: 100%;
            height: 231px;
            overflow: hidden;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }

        & .card {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 100%;
            height: 85px;
            padding: 10px;
        }
    }

    a {
        font-family: 'Roboto', sans-serif;
        position: relative;
        text-decoration: none;
        color: black;
    }

    .fa-heart {
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 1.5rem;
    }

    .fa-solid.fa-heart {
        @include heart;
    }

    h3 {
        padding-top: 0.5rem;
    }

    @media (min-width: $size-media) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        padding-bottom: 33px;
        justify-content: space-between;

        & a {
            min-width: 44%
        }
    }
}

@media (min-width: $size-media) {
    .restaurants {
        padding: 0 162px;
    }

    .restaurants h2 {
        padding: 48px 0 22px;
    }
}