/*pages rstaurants menus*/
.menus-container {
    padding: 0 15px;
}

.dishes-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1.5rem 0;

    &>h3 {
        position: relative;
        padding-bottom: 10px;

        &::before {
            content: "";
            position: absolute;
            top: 27px;
            border-bottom: 3px solid rgba(153, 226, 208, 1);
            width: 40px;
        }
    }

    .dish-container {
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        border: 1px transparent;
        border-radius: 15px;
        height: 70px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-bottom: 10px;
        overflow: hidden;
        @include button-shadow;
        animation: glissement 1s backwards;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms*$i;
            }
        }
    }

    .dish-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 5px;
        padding-left: 10px;

        h3 {
            font-weight: 700;
            font-size: 18px;
        }

        p {
            font-size: 15px;
        }
    }

    .dish-price {
        display: flex;
        justify-content: center;
        height: inherit;
        align-items: flex-end;
        font-weight: 700;
        font-size: 16px;
        padding: 10px 20px;
    }

    .dish-checked {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: -4rem;
        background-color: $tertiary-color;
        width: 59px;
        height: 100%;
        border-radius: 0 15px 15px 0;
        transition: margin-right 0.5s;
    }

    .fa-solid {
        width: 20px;
        font-weight: 900;
        font-size: 20px;
        display: flex;
        position: relative;
        left: 1rem;
    }

    :hover .dish-checked {
        margin-right: 0;

        .fa-solid {
            animation: 1s check-mark ease-in-out;
        }
    }
}

@media (min-width: $size-media) {
    .menus-container {
        margin: -40px auto 0 auto;
        width: 73%;
    }

    .dishes-type {
        margin: auto;
        width: 60%;
        padding-bottom: 24px;
    }
}

@media (min-width: $size-media) {
    .menus-container .title-container {
        gap: 16px;
        justify-content: center;
        padding-bottom: 50px;
    }

    .menus-container h2 {
        font-size: 28px;
    }

    .menus-container .title-container .fa-heart {
        margin-right: 25%;
    }
}