/*pages rstaurants menus*/
.dishes-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1.5rem;

    &>h3 {
        position: relative;
        padding-bottom: 10px;
        &::before{
        content: "";
        position: absolute;
        top: 27px;
        border-bottom:3px solid rgba(153, 226, 208, 1) ;
        width: 40px;
        }
    }

    .dish-container {
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        border: 1px transparent;
        border-radius: 15px;
        height: 70px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-bottom: 10px;
        @include button-shadow;

        .dish-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 5px;
            padding-left: 10px;

            h3 {
                font-weight: 700;
                font-size: 18px;
            }

            p {
                font-size: 15px;
            }
        }

        .dish-price {
            display: flex;
            justify-content: center;
            height: inherit;
            align-items: flex-end;
            font-weight: 700;
            font-size: 16px;
            padding: 10px;
        }

        .dish-checked {
            display: none;
        }
    }
}