@mixin base-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

@mixin base-button($width: 218px) {
    cursor: pointer;
    border-radius: 25px;
    width: $width;
    height: 50px;
    background: linear-gradient(to top, #9356DC, #FF79DA);
}

@mixin button-shadow {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin cards-shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

@mixin heart {
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: all 0.5s linear;

    &:hover {
        opacity: 1;
    }
}