footer{
    background-color: rgba(53, 53, 53, 1);
    gap: 16px;
    color: white;
    padding-left: 1rem;
h3 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
p{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0.5rem;
}
i{
    padding-right: 15px;
}
}