.main-content {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;

    @media (min-width: $size-media) {
        margin: auto;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 10px;
        font-size: 24px;
    }
}
